language: node_js
node_js:
- '0.10'
before_script:
- npm install -g bower grunt-cli
- bower install
- gem install compass
services: mongodb
after_script:
- grunt build
- cd dist
deploy:
  provider: heroku
  api_key:
    secure: Etkja6rA5og/sGdV6i8O6bPjeeMjeWuLWgIELfgB/MC72vqaXsokqswFvxCUpV/paWrWg52Dkpj3S58JXHSsblUB/edlX4DoJEFuY9NqXWKGl2wMzenSPSEoyGm7jSnaVglg2N/CoIcbVlm77ADH3bU/QyRx8zoOLjLrUG42JP0=
  skip_cleanup: true
  app: erikdeijlportfolio
  on:
    repo: EDeijl/Portfolio
